.container {
  max-height: calc(100vh - 155px);
  overflow-y: auto;
  overflow-x: scroll;
}

table {
  width: 100%;
  border: 1px solid #e0e0e0;
}

td, th {
  min-width: 60px !important;
}

.mat-paginator {
  text-align: right;
}